body {
  overflow-x: hidden;
  background-color: #c9dbf2;
  height: 100%;
}

header {
  margin: 0 auto;
	max-width: 600px;
  height: 270px;
	text-align: center;
}

header, nav ul li, #wrapper {
	/*border: 5px dashed #c9dbf2;*/
  border-radius: 20px;
	background: white;
}

h1, h2 {
 	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

li, p {
 	font-family: 'Poppins', sans-serif;
}

nav {
	margin: 0 auto;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-btn {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.nav-btn:hover {
	color: white;
	background: #73b6f5;
}

.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  background: #c9dbf2;
}

#wrapper {
  position: relative;
	margin: 0 auto;
	text-align: left;
	padding: 30px 10px;
	max-width: 600px;
}

#wrapper h2 {
	text-align: center;
}

#wrapper p {
	color: black;
}

a {
	color: 'blue';
}

#about, #contact {
	display: none;
}
