body {
  background-color: #c9dbf2;
  padding: 10px;
}

header {
  margin: 0 auto;
  height: 240px;
  padding: 10px;
}

header, nav ul li, .wrapper {
  border-radius: 20px;
	background: white;
}

header {
  width: 600px;
}

.header-img-frame {
  height: 60px;
  text-align: center;
}

.header-img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

header img {
  display: inline-block;
  vertical-align: middle;
}


.wrapper {
  width: 800px;
  position: relative;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
  min-height: 800px;
}

@media all and (max-width: 991px) {
  header, .wrapper {
    width: 600px;
  }
}

@media all and (max-width: 768px) {
  header, .wrapper {
    width: 500px;
  }
}

@media all and (max-width: 480px) {
  header, .wrapper {
    width: auto;
  }
}

h1, h2 {
 	font-family: 'Poppins', sans-serif;
	font-weight: 400;
  margin: 0;
}

h1 {
  padding: 10px 0 10px 0;
}

li, p {
 	font-family: 'Poppins', sans-serif;
}

nav {
	margin: 0 auto;
  padding: 20px 0;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  margin-left: -50%;
  z-index: 10;
  background: #c9dbf2;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-btn {
	display: inline-block;
	padding: 10px;
  margin: 0 3px;
}

.nav-btn:hover {
	color: white;
	background: #73b6f5;
}

.default-btn {
  text-decoration: none;
  color: black;
}

.current-btn {
	color: white;
	background: #73b6f5;
}

.wrapper h2 {
	text-align: center;
}

.wrapper p {
	color: black;
}

.wrapper-nav-offset {
  margin: 87px auto 0 auto;
}


a, a::after {
	color: #162955;
}

.default-no-display {
  display: none;
}

.display {
  display: block;
}

.photo {
  width: 250px;
  height: auto;
  border-radius: 20px;
  margin: 10px;
  float: left;
}

.screenshot {
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin: 10px;
}
