/* custom styles */

body{
  font-family: sans-serif;
  background: #c9dbf2;
}

header {
	margin: 40px auto;
	max-width: 600px;
	text-align: center;
}

header, nav ul li, #wrapper {
	border: 5px dashed #c9dbf2;
  border-radius: 20px;
	background: white;
}

h1, h2 {
 	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

li, p {
 	font-family: 'Poppins', sans-serif;
}

nav {
	margin: 40px auto;
  max-width: 400px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.nav-btn {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.nav-btn:hover {
	color: white;
	background: #73b6f5;
}

#wrapper {
	margin: 40px auto;
	text-align: left;
	padding: 30px;
	max-width: 600px;
	/*height: 600px;*/
}

#wrapper h2 {
	text-align: center;
}

#wrapper p {
	/*margin-left: 20px;*/
	color: black;
}

a {
	color: 'blue';
}

#about, #contact {
	display: none;
}
